<%= @restaurant.name %>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-light text-primary"><%= @restaurants.name %></li>
    <li class="list-group-item list-group-item-action list-group-item-light text-primary"><%= @restaurants.address %></li>
    <li class="list-group-item list-group-item-action list-group-item-light text-primary"><%= @restaurants.phone_number %></li>
    <li class="list-group-item list-group-item-action list-group-item-light text-primary"><%= @restaurants.category %></li>
</ul>
<div class="btn btn-light">
  <%= link_to 'Restaurants', restaurants_path %>
</div>

</div>



<ul class="list-group">
  <% @restaurants.reviews.each do |review| %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <%= review.content %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "New review", new_restaurant_review_path(@restaurants), class: 'btn btn-light'  %>
