show.html.erb

<ul>
  <li><%= @restaurants.name %></li>
  <li><%= @restaurants.address %></li>
  <li><%= @restaurants.phone_number %></li>
  <li>
<%= @restaurants.category %></li>
</ul>
 <%= link_to 'Restaurants', restaurants_path %>


<h3>Reviews</h3>
<ul class="list-group">
  <% @restaurants.reviews.each do |review| %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <%= review.content %>
        <%= link_to "remove", review_path(review), method: :delete, data: { confirm: 'delete?'}  %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "New review", new_restaurant_review_path(@restaurants), class: 'btn btn-light'  %>
